<div class="header4" >
  <% if @prefecture.picture.present? %>
    <%= image_tag(@prefecture.picture_url, width: '100%', height: '100%') %>
    
  <% else %>
    
  <% end %>

</div>

<div class="yield" >
	<div class="search">
	  <%= search_form_for(@q, url:prefecture_path) do |f| %>
	    <%= f.label :name, "ホテルを検索" %>
	    <%= f.search_field :name_cont  %>
	    

	    <%= f.submit "検索" %>
	  <% end %>
	</div> 

	<h1><%= @prefecture.name %>のホテルを探す</h1>	
		<% @rank_hotels .each do |hotel| %>

		  <div class="card mb-3" style="min-width: 800px;">
		    <div class="row no-gutters">
		      <div class="col-md-4">
		        <%= image_tag(hotel.picture_url, width: 350,height: 187) if hotel.picture.present? %>
		      </div>
		      <div class="col-md-8">
		        <div class="card-body">
		          <h5 class="card-title"><%= link_to hotel.name, hotel_path(hotel) %></h5>
		          <p class="card-text"><%= hotel.body %></p>
		          <p class="card-text"><small class="text-muted">last updated at <%= hotel.updated_at %></small></p>
		        </div>
		      </div>
		    </div>
		  </div>

		<% end %>
</div>


